PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret123123
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.snlpshpbpcidylmsukyi:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

